<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
  <div class="about content">
    <h2>Welcome to Blogify!</h2>
    <p>Blogify is an open and inclusive platform that celebrates the power of free expression. We provide a space for anyone and everyone to share their thoughts, stories, and ideas without any barriers. Whether you're a seasoned writer, a first-time blogger, or simply want to speak your mind, Blogify welcomes you with open arms.</p>
    <h2>Our Vision</h2>
    <p>Our vision is to create a virtual town square—a place where diverse voices converge, where conversations flourish, and where ideas flow freely. We believe that every individual has a story to tell, and every perspective adds value to the collective narrative.</p>
    <h2>A Platform for All</h2>
    <p>Blogify is not just a website; it's a movement—a movement to amplify unheard voices, challenge the status quo, and foster a sense of belonging. Whether you're here to share your life stories, discuss world events, or explore your creativity, you're an integral part of this journey.</p>    
    <h2>Start Your Journey Today</h2>
    <p>Ready to embark on your blogging journey?Welcome to blogify then, There are no restrictions or hidden costs—just a world of possibilities waiting for you.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>